@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

//--- VARIABLE ---
//=== colors ===
$color-bg_head: #b53eff;
$color-bg_content: #470060;
$color-bg_price: #ff6363;
$color-bg_button: #bb0070;
$color-pass_button: #cccccc;
$color-form_button: #00a3ff;
$color-form_text: #525252;
$color-form_title: #595959;
$color-form_hint: #7a7b7c;
$color-form_pay: #6d6d6d;
$color-form_desc: #b0b0b0;
$color-form_bg: #fbfdff;
$color-form_check: #c4c4c4;
$color-form_border: #d1dee7;
$color-text_attention: #ff7474;
$color-text_main: #ffffff;
$color-text_hint: #cf67a6;
$color-text_footer: #cbcbcb;
$color-bg_footer: #000000;
$color-line-through: #ff0000;
$color-text_quote: #9f9f9f;
//===/ colors ===
//=== fonts ===
$font-fam_main: "Montserrat";
$font-fam_form: "Open Sans";
$font-normal: 400;
$font-medium: 500;
$font-semi_bold: 600;
$font-bold: 700;
$font-extra_bold: 800;
$font-heavy: 900;
//===/ fonts ===
//---/ VARIABLE ---

//--- MIXINS ---
//============================================================================
@mixin add-font-properties($fam: false, $size: false, $colour: false, $weight: false, $lh: false) {
  @if $fam {
    font-family: $fam, "Source Sans Pro", Helvetica, Arial, sans-serif;
  }
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}
//============================================================================

// breakpoints

//============================================================================
@mixin respond($point) {
  @if $point == Sm {
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $point == Tablet {
    @media (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  } @else if $point == Laptop {
    @media (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  } @else if $point == Lg {
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  } @else if $point == extraLarge {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
//============================================================================

@mixin pad-responsive($device, $pad) {
  @if $device {
    @media (min-width: $device) {
      padding-right: $pad;
      padding-left: $pad;
    }
  }
}
@mixin pad-bottom-responsive($device, $pad) {
  @if $device {
    @media (min-width: $device) {
      padding-bottom: $pad;
    }
  }
}
//============================================================================

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
//============================================================================

@mixin button-content {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  display: inline-block;
  max-width: 100%;
  width: 322px;
  height: 65px;
  background-color: $color-bg_button;
  border-radius: 5px;
  @include add-font-properties($font-fam_main, 1.5rem, $color-text_main, $font-bold, 2.5rem);
  transition: opacity 0.5s;
  &:hover,
  &:active {
    box-shadow: 0px 0px 0px 2px $color-text_main inset;
  }

}
//============================================================================

@mixin img-fluid {
  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }
}
//---/ MIXINS ---
//--- COMMONS ---
body {
  position: relative;
  font-size: 16px;
}
.button-item {
  @include button-reset;
  display: inline-block;
  width: 164px;
  height: 32px;
  border: 2px solid $color-text_hint;
  border-radius: 5px;
  @include add-font-properties($font-fam_main, 0.875rem, $color-text_hint, $font-bold, 1rem);
  transition: all 0.5s;
  &:hover {
    border-color: $color-text_attention;
    color: $color-text_main;
  }
}
//============================================================================

@keyframes tremor {
  0%,
  79% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes smooth {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
//---/ COMMONS ---
//+++ HEADER +++
.header-section {
  position: absolute;
  background-color: $color-bg_head;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .row {
    height: 118px;
  }

  .info {
    display: block;
    text-align: end;
    @include add-font-properties($font-fam_main, 1.125rem, $color-text_main, $font-semi_bold, 1.5625rem);
  }
  .call {
    display: none;
    text-transform: uppercase;
    text-align: end;
    @include add-font-properties($font-fam_main, 0.75rem, $color-text_main, $font-semi_bold, 0.9375rem);

    img {
      margin-left: 10px;
      animation: tremor 5s ease-in-out infinite;
    }
  }
  //==================================================================
  @include respond(Sm) {
    .info {
      display: none;
    }
    .call {
      display: block;
    }
    &__logo {
      @include img-fluid;
    }
  }
  //==================================================================
}
//+++/ HEADER +++
//+++ CONTENT +++
.content-section {
  position: relative;
  top: 118px;
  left: 0;
  right: 0;
  &__watch {
    background: url(../assets/block-1.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    &_decoration {
      top: -118px;
      @include img-fluid;
    }
  }
  .title,
  .subtitle {
    @include add-font-properties($font-fam_main, 2.75rem, $color-text_main, $font-extra_bold, 3.375rem);
  }
  .subtitle {
    text-align: center;
  }
  .btn-look {
    @include button-content;
    @include respond(Sm) {
      & {
        font-size: 1.375rem;
      }
    }
  }
  // Prices--------------------------------------------
  &__priсes {
    background-color: $color-bg_content;
    background-size: cover;
    background-position: center;
    height: 100%;
    .heading {
      @include add-font-properties($font-fam_main, 1.5rem, $color-text_main, $font-extra_bold, 1.8125rem);
      text-align: center;
      @include respond(Sm) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }

    // Jewels Items--------------------------------------------
    .jewel {
      position: relative;
      height: 480px;
      background: url(../assets/block-1.png) no-repeat;
      background-size: cover;
      background-position: center;
      .button-item {
        position: absolute;
        top: 15px;
        left: 10px;
      }
      &__index {
        position: absolute;
        top: 14px;
        right: 12px;
        @include add-font-properties($font-fam_main, 1rem, $color-text_main, $font-normal, 1.25rem);
      }
      &__img {
        height: 70%;
        @include img-fluid;
      }
      .new-price {
        background: $color-bg_price;
        border-radius: 3px;
        @include add-font-properties($font-fam_main, 1.5rem, $color-text_main, $font-extra_bold, 2rem);
        span {
          font-weight: $font-normal;
        }
      }
      .old-price {
        @include add-font-properties($font-fam_main, 1rem, $color-text_main, $font-bold, 1.25rem);
        text-decoration: line-through;
        text-decoration-color: $color-line-through;
      }
      &__desc {
        background-color: rgba(92, 0, 67, 0.61);
        height: 30%;
        width: 100%;
        @include add-font-properties($font-fam_main, 1rem, $color-text_main, 1.25rem);
        h3 {
          font-size: 1rem;
        }
      }
      //==================================================================
      @include respond(Sm) {
        &__index,
        .old-price,
        &__desc,
        h3 {
          font-size: 0.8125rem;
          line-height: 1rem;
        }
        .new-price {
          font-size: 1.3125rem;
          line-height: 1.5625rem;
        }
      }
      //==================================================================
    }

    .info-sentence {
      text-align: center;
      @include add-font-properties($font-fam_main, 1.125rem, $font-bold, 1.375rem);
      h4:first-child {
        color: $color-text_main;
      }
      h4:last-child,
      span {
        color: $color-text_attention;
      }
    }
    .btn-learn-more {
      @include button-content;
    }
    //==================================================================

    @include respond(Sm) {
      .info-sentence {
        font-size: 0.9375rem;
        line-height: 1.125rem;
      }
      .btn-learn-more {
        font-size: 1.3125rem;
        line-height: 2.1875rem;
      }
    }
    //==================================================================
  }
  // Section of Oder--------------------------------------------
  &__oder {
    .heading {
      text-align: center;
      &__title {
        @include add-font-properties($font-fam_main, 1.875rem, $color-bg_button, $font-heavy, 2.25rem);
      }
      &__subtitle {
        @include add-font-properties($font-fam_form, 1.0625rem, $color-form_text, $font-normal, 1.8125rem);
      }
      //==================================================================

      @include respond(Sm) {
        &__title {
          font-size: 1.375rem;
          line-height: 1.8125rem;
        }
        &__subtitle {
          font-size: 0.875rem;
          line-height: 1.2rem;
        }
      }
      //==================================================================
    }

    // Form Oder--------------------------------------------
    .form-order {
      height: 470px;
      &__field {
        height: 43px;
      }
      input[type="text"],
      input[type="tel"] {
        display: block;
        width: 100%;
        border: 1px solid $color-form_border;
        background-color: $color-form_bg;
      }
      .title-field {
        @include add-font-properties($font-fam_form, 1rem, $color-form_title, $font-normal, 1.5625rem);
      }
      .conditions {
        position: relative;
        @include add-font-properties($font-fam_form, 0.8125rem, $color-form_hint, $font-normal, 0.9375rem);
        input[type="checkbox"] {
          display: none;
        }
        label:before {
          position: absolute;
          top: 0;
          left: 15;
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          border: 2px solid $color-form_check;
          border-radius: 1px;
          cursor: pointer;
        }
        input[type="checkbox"]:checked + label:before {
          background-color: $color-form_check;
          font-size: 1rem;
          text-align: center;
          content: "\2713";
          color: white;
        }
      }
      .about-protection {
        @include add-font-properties($font-fam_form, 0.6875rem, $color-form_desc, $font-normal, 0.9375rem);
        span {
          text-decoration: underline;
          @include add-font-properties($font-fam_form, 0.6875rem, $color-form_desc, $font-normal, 0.9375rem);
        }
      }
      .about-delivery {
        .bold-word {
          font-weight: $font-bold;
          font-size: 0.75rem;
        }
        @include add-font-properties($font-fam_form, 0.75rem, $color-form_hint, $font-normal, 1.375rem);
        //==================================================================

        @include respond(Sm) {
          & {
            font-size: 0.6875rem;
            line-height: 1rem;
          }
        }
        //==================================================================
      }

      .red-star {
        color: $color-line-through;
      }

      .btn-form {
        @include button-reset;
        height: 60px;
        width: 100%;
        border-radius: 2px;
        background-color: $color-form_button;
        color: $color-text_main;
        text-transform: uppercase;
        @include add-font-properties($font-fam_form, 1.6875rem, $color-text_main, $font-bold, 1.5625rem);
        transition: color 0.5s, box-shadow 0.5s;
        border-radius: 5px;
        &:hover,
        &:active {
          color: $color-form_text;
          box-shadow: 0 0 0 2px inset;
        }
      }
    }
    // Sprite pay-metods---------------------------------
    .payment-options {
      height: 155px;
      &__title {
        @include add-font-properties($font-fam_form, 0.875rem, $color-form_pay, $font-bold, 1.375rem);
      }
      &__subtitle {
        @include add-font-properties($font-fam_form, 0.875rem, $color-form_pay, $font-normal, 1.375rem);
      }
      //==================================================================

      @include respond(Sm) {
        &__subtitle {
          font-size: 0.75rem;
          line-height: 1.0625rem;
        }
      }
      //==================================================================

      .icon-paying {
        display: block;
        height: 31px;
        background-image: url(../assets/paymentmethod.svg);
        transition: filter 0.5s, transform 0.7s;
        cursor: pointer;
        &:hover {
          filter: grayscale(80%);
          transform: scale(1.2);
        }
      }
      .visa {
        background-position: 0 0;
        width: 48px;
      }
      .am-express {
        background-position: -105px 0;
        width: 55px;
      }
      .mastercard {
        background-position: -223px 0;
        width: 39px;
      }
      .paypal {
        background-position: -329px 0;
        width: 64px;
      }
      .israel-bank {
        background-position: -455px 0;
        width: 66px;
      }
      .shekel {
        background-position: -564px 0;
        width: 52px;
      }
    }
  }
  // Reviews section ---------------------------------
  &__reviews {
    position: relative;
    .heading {
      text-align: center;
      h2 {
        @include add-font-properties($font-fam_main, 1.5rem, $color-bg_footer, $font-extra_bold, 1.8125rem);
      }
    }
    button {
      @include button-reset;
    }
    // Slider -----------------------------------------
    .slider {
      position: relative;
      overflow: hidden;
      margin: 0 auto;

      &__inner {
        overflow: hidden;
        height: 100%;
        padding-top: 20px;
      }
      &__wrapper {
        transition: transform 0.6s ease;
        width: 100%;
        padding: 40px 0;
      }
      &__item {
        position: relative;
        margin: auto;
        @include pad-responsive(300px, 10px);
        @include pad-responsive(400px, 40px);
        @include pad-responsive(500px, 90px);
        @include pad-responsive(576px, 40px);
        @include pad-responsive(700px, 30px);
        @include pad-responsive(768px, 5px);
        @include pad-responsive(1200px, 20px);
      }
    }
    // Slider items----------------------------------------
    .slider__content {
      position: relative;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
      margin: auto;
      height: 100%;
      padding: 30px 38px 45px;
      &_autor {
        text-align: right;
        @include add-font-properties($font-fam_main, 1.1875rem, $color-bg_footer, $font-bold, 1.5rem);
      }
      &_evaluation {
        display: block;
        margin-top: 30px;
        margin-bottom: 6px;
        span {
          display: inline-block;
          width: 23px;
          height: 23px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      &_text {
        @include add-font-properties($font-fam_main, 1rem, $color-bg_footer, $font-normal, 1.5rem);
      }
      &_img {
        position: absolute;
        top: -50px;
        left: 0;
        width: 113px;
        height: 113px;

        img {
          box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.12);
          display: inline-block;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          border-radius: 50%;
        }
      }
      &_quotes {
        position: absolute;
        right: 15px;
        bottom: 6px;
        transform: scaleX(-1);
        transform: rotate(180deg);
        span {
          display: inline-block;
          width: 100%;
          height: 100%;
          @include add-font-properties($font-fam_main, 3.125rem, $color-text_quote, $font-extra_bold, 1.5rem);
        }
      }
      //==================================================================

      @include respond(Sm) {
        & {
          box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.12);
          padding: 25px 31px 37px;
        }
        &_img {
          img {
            box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.12);
          }
        }
        &_autor {
          font-size: 1rem;
          line-height: 1.25rem;
        }
        &_evaluation {
          margin-top: 0;
        }
        &_text {
          font-size: 0.8125rem;
          line-height: 1.25rem;
          padding-right: 10px;
        }
        &_quotes {
          font-size: 2.5625rem;
          line-height: 1.25rem;
        }
      }
      //==================================================================
    }
    // Slider elements ---------------------------------
    .slider__control {
      position: absolute;
      display: inline-block;
      top: 50%;
      display: flex;
      align-items: center;
      text-align: center;
      transition: color 0.5s;
      .fas {
        font-size: 3rem;
        pointer-events: none;
      }
      &:hover,
      &:active {
        color: $color-pass_button;
      }
      //==================================================================

      @include respond(Sm) {
        .fas {
          font-size: 2rem;
        }
      }
      //==================================================================
    }
    .slider__control_left {
      left: 15px;
      margin-top: 1.5rem;
    }

    .slider__control_right {
      right: 15px;
      margin-top: 1.5rem;
    }
    //==================================================================

    @include respond(Sm) {
      .slider__control_left {
        left: 15px;
        margin-top: 2rem;
      }

      .slider__control_right {
        right: 15px;
        margin-top: 2rem;
      }
    }
    //==================================================================

    .slider__indicators {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 6px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: $color-pass_button;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        transition: opacity 0.6s ease;
      }
      .active {
        background-color: $color-bg_footer;
      }
    }

    //==================================================================
  }
  @include respond(Laptop) {
    .content-section__watch_decoration {
      top: -30px;
    }
    .content-section__oder {
      .heading {
        p {
          text-align: center;
        }
      }
    }
  }
  @include respond(Tablet) {
    .content-section__watch {
      .title {
        font-size: 1.3125rem;
        line-height: 1.625rem;
        text-align: center;
        font-weight: normal;
      }
      &_decoration {
        top: -30px;
      }
    }
    .content-section__oder {
      .heading {
        p {
          text-align: center;
        }
      }
    }
  }
  @include respond(Sm) {
    .content-section__watch {
      .title {
        font-size: 1.3125rem;
        line-height: 1.625rem;
        text-align: center;
        font-weight: normal;
      }
      &_decoration {
        top: -30px;
      }
    }
    .content-section__oder {
      .heading {
        h1 {
          font-size: 1.5714rem;
          line-height: 2rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.2rem;
          text-align: center;
        }
      }
    }
    .slider__indicators {
      display: none;
    }
  }
  //==================================================================
}
//+++/ CONTENT +++
//+++ FOOTER +++
.footer-section {
  position: relative;
  background-color: $color-bg_footer;
  bottom: -118px;
  @include add-font-properties($font-fam_main, 0.875rem, $color-text_footer, $font-medium, 1.4rem);
  .attention-text {
    color: $color-text_attention;
  }

  &__contacts {
    &_logo {
      margin-top: 42px;
      @include img-fluid;
    }
    &_info {
      margin-top: 42px;
      p {
        margin: 0;
      }
    }
    &_social {
      margin-top: 15px;
      width: 100%;
      a {
        position: relative;
        font-size: 14px !important;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        width: 35px;
        height: 35px;
        transition: opacity 0.5s;
        &:hover {
          opacity: 0.7;
        }
      }
      .icon-instagram,
      .icon-facebook,
      .icon-youtube {
        display: inline-block;
        position: relative;
        width: 35px;
        height: 35px;
      }
      .icon-facebook,
      .icon-youtube {
        background-color: $color-text_footer;
        border-radius: 2px;
        color: #1d1d1b;
      }
      .icon-facebook {
        font-size: 1.8rem;
        .fab {
          position: absolute;
          left: 30%;
          bottom: 0;
        }
      }
      .icon-youtube {
        font-size: 1.5rem;

        .fas {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .icon-instagram {
        font-size: 2.5rem;
        .fab {
          position: absolute;
          top: -2.5px;
        }
      }
    }
  }
  //=================================================================
  @include respond(Sm) {
    .footer-section__contacts_info {
      text-align: center;
    }
  }
  @include respond(Tablet) {
    .footer-section__contacts_info {
      text-align: center;
    }
  }
  //=================================================================
  &__about {
    position: relative;
    margin-left: 15px;
    min-height: 155px;
    .btn-toggle-group {
      display: block;
      height: auto;
      input[type="radio"] {
        display: none;
        &:checked + label {
          color: white;
        }
      }
      .vert-line {
        display: inline-block;
        margin: 10px 10px;
        width: 1px;
        height: 6px;
        background-color: $color-text_main;
      }
      label {
        display: inline-block;
        font-size: 0.8571rem;
        cursor: pointer;
        color: #b53eff;
      }
    }

    .off-text {
      display: none;
    }
    .include-text {
      display: block;
      animation: smooth 2s ease;
    }
    @include respond(Sm) {
      .include-text {
        font-size: 12px;
      }
      .btn-toggle-group {
        display: none;
      }
    }
    @include respond(Tablet) {
      .btn-toggle-group {
        display: none;
      }
      .include-text {
        font-size: 12px;
      }
    }
  }


}
//+++/ FOOTER +++
